[alias]
    ci = commit
    st = status
    co = checkout
    br = branch

[core]
    editor = vim

[diff]
    tool = p4merge

[merge]
    tool = p4merge

[mergetool "p4merge"]
    path = /opt/bin/p4merge
    keepBackup = false
    trustExitCode = false

[user]
    name = Radoslav Gerganov
    email = rgerganov@gmail.com

[color]
    ui = true
