[alias]
    ci = commit
    st = status
    co = checkout
    br = branch

[core]
    editor = vim

[diff]
    tool = p4merge

[merge]
    tool = p4merge

[mergetool "p4merge"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$LOCAL" "$PWD/$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false

[user]
    name = Radoslav Gerganov
    email = rgerganov@vmware.com

[color]
    ui = true
